AWS_REGION=<SET_ME>
BETAREPORT_MCP_TOKEN=<SET_ME>
CONFLUENCE_API_TOKEN=<SET_ME>
CONFLUENCE_BASE_URL=<SET_ME>
CONFLUENCE_USER_EMAIL=<SET_ME>
COVERITY_ASSIST_TOKEN=<SET_ME>
COVERITY_ASSIST_URL=<SET_ME>
DEFAULT_MODEL_PREFERENCE=<SET_ME>
ELLM_PROVIDER=<SET_ME>
ENABLE_TOOL_CALLS=<SET_ME>
GITLAB_BASE_URL=<SET_ME>
GITLAB_SEARCH_SCOPES=<SET_ME>
GITLAB_TOKEN=<SET_ME>
INTERNAL_SEARCH_MODE=<SET_ME>
INTERNAL_SEARCH_SOURCES=<SET_ME>
JIRA_API_TOKEN=<SET_ME>
JIRA_BASE_URL=<SET_ME>
JIRA_USER_EMAIL=<SET_ME>
MAX_TOOL_ITERATIONS=<SET_ME>
OLLAMA_BASE_URL=<SET_ME>
PLLM_PROVIDER=<SET_ME>
POSTGRES_DB=<SET_ME>
POSTGRES_HOST=<SET_ME>
POSTGRES_PORT=<SET_ME>
POSTGRES_PWD=<SET_ME>
POSTGRES_USER=<SET_ME>
TOOL_CALL_TIMEOUT=<SET_ME>
