AWS_DEFAULT_REGION=<SET_ME>
AWS_REGION=<SET_ME>
BACKEND_URL=<SET_ME>
BEDROCK_ENDPOINT_URL=<SET_ME>
BEDROCK_ENFORCE_PRIVATE=<SET_ME>
COVERITY_ASSIST_TOKEN=<SET_ME>
COVERITY_ASSIST_URL=<SET_ME>
DEFAULT_MODEL_PREFERENCE=<SET_ME>
ELLM_MODEL_ID=<SET_ME>
ELLM_PROVIDER=<SET_ME>
ENABLE_TOOL_CALLS=<SET_ME>
FRONTEND_URL=<SET_ME>
MAX_TOOL_ITERATIONS=<SET_ME>
PLLM_INFERENCE_PROFILE_ARN=<SET_ME>
PLLM_MODEL_ID=<SET_ME>
PLLM_PROVIDER=<SET_ME>
TOOL_CALL_TIMEOUT=<SET_ME>
