# AgentPi001 / DishChat local deployment
AUTH_DISABLED=true
LOCAL=true
DEBUG=false
DEFAULT_USER_EMAIL=local@localhost

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=dishchat_local
POSTGRES_USER=agentpi_local
POSTGRES_PWD=CHANGE_ME

PLLM_PROVIDER=coverity-assist
ELLM_PROVIDER=coverity-assist
COVERITY_ASSIST_URL=https://coverity-assist-stg.dishtv.technology/chat
COVERITY_ASSIST_TOKEN=CHANGE_ME
COVERITY_ASSIST_VERIFY_SSL=false
DEFAULT_MODEL_PREFERENCE=reasoning
ENABLE_TOOL_CALLS=true
MAX_TOOL_ITERATIONS=100
TOOL_CALL_TIMEOUT=12000

BETAREPORT_MCP_TOKEN=
ENABLE_BETAREPORT_MCP=false
ENABLE_VIEWERSHIP_MCP=false
ENABLE_LOG_ASSIST_MCP=false
ENABLE_INTERNAL_TOOLS_MCP=false

MASTER_KEY=CHANGE_ME
